mixin articleSort(posts)
  - let langPrefices
  if is_default_language(page_language())
    - langPrefices = Object.fromEntries(display_languages().map((lang) => [lang,`${lang}.`]))
  else
    - langPrefices = Object.fromEntries([[page_language(), '']])

  each langPrefix, lang in langPrefices
    .article-sort(lang-type='relative' language=lang)
      - var year
      - posts.each(function (article) {
        - let tempYear = date(article.date, 'YYYY')
        - const post_cover = (article.cover === false) ? theme.cover.default_cover_aside : article.cover
        - const cover_type = (article.cover === false) ? 'img' : article.cover_type
        - let no_cover = !theme.cover.archives_enable ? 'no-article-cover' : ''
        - let title = article.title || _p(langPrefix+'no_title')
        if tempYear !== year
          - year = tempYear
          .article-sort-item.year= year
        .article-sort-item(class=no_cover)
          if theme.cover.archives_enable
            a.article-sort-item-img(href=url_for(article.path) title=title)
              if cover_type === 'img'
                img(src=url_for(post_cover) alt=title onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'`)
              else
                div(style=`background: ${post_cover}`)
          .article-sort-item-info
            .article-sort-item-time
              i.fas.fa-calendar-plus
              time.post-meta-date-created(datetime=date_xml(article.date) title=_p(langPrefix+'post.created') + ' ' + full_date(article.date, format=config.full_date_format))= date(article.date, config.date_format)
            a.article-sort-item-title(href=url_for(article.path) title=title)= title
      - })