extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts

    //.recent-post-item(style="height:200px;width:100%;padding:0px;")
    //  a#panoramaView(href="/gallery/" style="height:200px;")

    a#intro-menu1.recent-post-item(href="/about/" style="vertical-align:middle; text-align:center; height:210px; width:calc(33.333% - 12px); display:inline-grid; margin-top:0; line-height:1;")
      div(style="vertical-align:middle;")
        i.far.fa-building(style="display:block; font-size:80px;padding-top:5px;")
        span(style="display:block; font-size:1.5em; padding-top:20px; font-weight:650;")="회사 소개"
    a#intro-menu2.recent-post-item(href="/service/" style="vertical-align:middle; text-align:center; height:210px; width:calc(33.333% - 12px); display:inline-grid; margin-top:0; line-height:1; margin-left:18px; margin-right:18px;")
      div(style="vertical-align:middle;")
        i.fas.fa-truck-loading(style="display:block; font-size:80px;padding-top:5px;")
        span(style="display:block; font-size:1.5em; padding-top:20px; font-weight:650;")="시설 및 서비스"
    #intro-menu3.recent-post-item(style="vertical-align:middle; text-align:center; height:210px; width:calc(33.333% - 12px); display:inline-grid; margin-top:0; line-height:1;")
      div(style="vertical-align:middle;")
        div(style="font-size:1.05em; padding-top:12px; padding-bottom:10px;line-height:1.5;")
          a(href="tel:+82435356530" style="display:block;")
            i.fas.fa-phone-alt(style="")
            |   043-535-6530

          a(href="mailto:jbtank@hanmail.net" style="display:block;")
            i.far.fa-envelope(style="")
            |   jbtank@hanmail.net

          a(href="https://pf.kakao.com/_Sexfbb/chat" style="display:block;")
            i.fas.fa-comment(style="")
            |   중부탱크터미널

          |
        span(style="display:block; font-size:1.5em; padding-top:10px; font-weight:650;")="연락처"
        //  //i.fas.fa-phone-alt(style="display:block; font-size:80px;padding-top:10px;")



    #announcement2.recent-post-item(style="height:fit-content;width:100%;padding:0px;background:var(--btn-bg)")
      div.is-center(style="font-size:1.05em;margin:auto;color:#ffffff;font-weight:650;word-spacing:2px;")
        | (주) 중 부 탱 크 터 미 널 &ensp; 사 업 현 황

    #intro-post.recent-post-item
      //h1.is-center(style="line-height:1.5;")="사업 현황"
      //br

      -
        const imgList = [
          ["/img/사진_014.jpg", "전경","사진 확대하기"],
          ["/img/사진_029.jpg", "정문", "사진 확대하기"],
          ["/img/이동식도크.jpg", "화물차 입고", "사진 확대하기"],
          ["/img/이동식도크.jpg", "컨테이너 입고", "사진 확대하기"],
          ["/img/지게차2.5톤_2.jpg", "지게차 하역", "사진 확대하기"],
          ["/img/지게차2.5톤_2.jpg", "컨테이너 하역", "사진 확대하기"],
          ["/img/출하대2.jpg", "창고 보관", "사진 확대하기"],
          ["/img/출하대2.jpg", "창고 보관", "사진 확대하기"],
          ["/img/적재모습 복사본.jpeg", "수출", "사진 확대하기"],
          ["/img/적재모습 복사본.jpeg", "수출", "사진 확대하기"],
          ["/img/사진_030 복사본.jpeg", "탱크로리 계량", "사진 확대하기"],
          ["/img/옥내저장소493.5m2.jpg", "탱크(BUK) 드럼 작업", "사진 확대하기"],
          // ["/img/KakaoTalk_Photo_2021-12-26-04-07-07-4.jpeg", "-", "사진 확대하기"],
          // ["/img/KakaoTalk_Photo_2021-12-26-04-07-07-5.jpeg", "-", "사진 확대하기"],
          // ["/img/KakaoTalk_Photo_2021-12-26-09-12-02.jpeg", "-", "사진 확대하기"],
        ]

      div
        - let altTxt;
        each val in imgList
          - imgUrl = val[0];
          - altTxt = val[1];
          - subTxt = val[2];
          figure.gallery-group
            a(href=imgUrl data-fancybox="gallery" data-caption=altTxt data-thumb=imgUrl)
              img.gallery-group-img(src=imgUrl data-lazy-src=imgUrl alt=altTxt)
              figcaption
                div.gallery-group-name= altTxt
                p= subTxt

        figure.gallery-group
          img.gallery-group-img(src="/img/homepage-banner-1.jpg" data-lazy-src="/img/homepage-banner-1.jpg" alt="-")
          figcaption
            div.gallery-group-name="GALLERY"
            p="갤러리 페이지 열기"
            a(href="/gallery/")

    #announcement.recent-post-item(style="height:fit-content;width:100%;padding:0px;background:var(--btn-bg)")
      a(href="/archives/" style="width:100%;font-size:1.05em;margin:auto;color:#ffffff;font-weight:650;word-spacing:10px;")
        div.is-center
          | 최 근 &ensp;공 지 사 항

    +postUI
    include includes/pagination.pug