if theme.aside.card_post_series.enable
  - const array = fragment_cache('seriesArr', groupPosts)
  each langPrefix, lang in langPrefices
    .card-widget.card-post-series(lang-type='relative' language=lang)
      .item-headline
        i.fa-solid.fa-layer-group
        span= theme.aside.card_post_series.series_title ? page.series : _p(langPrefix+'aside.card_post_series')
      .aside-list
        - let i = 0
        each item in array[page.series]
          - if (!is_default_language(item.lang) && lang != item.lang)
            - continue
          - i++
          - const { path, title = _p(langPrefix+'no_title'), date:dateA } = item
          - let link = url_for(path)
          - const cover = (item.cover === false) ? theme.cover.default_cover_aside : item.cover
          - const cover_type = (item.cover === false) ? 'img' : item.cover_type
          - let no_cover = !theme.cover.aside_enable ? 'no-cover' : ''
          .aside-list-item(class=no_cover)
            if theme.cover.aside_enable
              a.thumbnail(href=link title=title)
                if cover_type === 'img'
                  if item.cover === false
                    img(src=url_for(cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=title)
                  else
                    img.thumbnail-cover(src=url_for(cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=title)
                else
                  div(style=`background: ${cover}`)
            .content
              a.title(href=link title=title)= `${i} \) ${title}`
              time(datetime=date_xml(dateA) title=_p(langPrefix+'post.created') + ' ' + full_date(dateA, format=config.full_date_format)) #[=date(dateA, config.date_format)]
