div
  script(src=url_for(theme.asset.utils))
  script(src=url_for(theme.asset.main))

  if theme.translate.enable
    script(src=url_for(theme.asset.translate))

  if theme.medium_zoom
    script(src=url_for(theme.asset.medium_zoom))
  else if theme.fancybox
    script(src=url_for(theme.asset.fancybox))

  if theme.instantpage
    script(src=url_for(theme.asset.instantpage), type='module')

  if theme.lazyload.enable
    script(src=url_for(theme.asset.lazyload))

  if theme.snackbar.enable
    script(src=url_for(theme.asset.snackbar))

  if theme.pangu.enable
    //- changed to cache false since the content should be different among language settings
    != partial("includes/third-party/pangu.pug", {}, { cache: false })

  .js-pjax
    if needLoadCountJs
      //- changed to cache false since the content should be different among language settings
      != partial("includes/third-party/card-post-count/index", {}, { cache: false })

    if loadSubJs
      include ./third-party/subtitle.pug

    include ./third-party/math/index.pug

    include ./third-party/abcjs/index.pug

    if commentsJsLoad
      include ./third-party/comments/js.pug

  //- changed to cache false since the content should be different among language settings
  != partial("includes/third-party/prismjs", {}, { cache: false })

  if theme.aside.enable && theme.newest_comments.enable
    if theme.pjax.enable
      //- changed to cache false since the content should be different among language settings
      != partial("includes/third-party/newest-comments/index", {}, { cache: false })
    else if (!is_post() && page.aside !== false)
      //- changed to cache false since the content should be different among language settings
      != partial("includes/third-party/newest-comments/index", {}, { cache: false })

  != fragment_cache('injectBottom', function(){return injectHtml(theme.inject.bottom)})

  //- changed to cache false since the content should be different among language settings
  != partial("includes/third-party/effect", {}, { cache: false })

  //- changed to cache false since the content should be different among language settings
  != partial("includes/third-party/chat/index", {}, { cache: false })

  if theme.aplayerInject && theme.aplayerInject.enable
    if theme.pjax.enable || theme.aplayerInject.per_page
      include ./third-party/aplayer.pug
    else if page.aplayer
      include ./third-party/aplayer.pug

  if theme.pjax.enable
    //- changed to cache false since the content should be different among language settings
    != partial("includes/third-party/pjax", {}, { cache: false })

  if theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv
    script(async data-pjax src= theme.asset.busuanzi || '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js')

  //- changed to cache false since the content should be different among language settings
  !=partial('includes/third-party/search/index', {}, {cache: false})