- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
- page.aside = is_archive() ? theme.aside.display.archive: is_category() ? theme.aside.display.category : is_tag() ? theme.aside.display.tag : page.aside
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''
- var pageType = is_post() ? 'post' : 'page'
- var pageLang = is_default_language(page_language()) ? 'default' : page_language()
- var htmlLang = is_default_language(page_language()) ? 'unknown' : page_language()

- let langPrefices
if is_default_language(page_language())
  - langPrefices = Object.fromEntries(display_languages().map((lang) => [lang,`${lang}.`]))
else
  - langPrefices = Object.fromEntries([[page_language(), '']])

doctype html
html(lang=htmlLang site-lang=display_languages() page-lang=pageLang data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader.enable
      //- changed to cache false since the content should be different among language settings
      !=partial('includes/loading/index', {langPrefices: langPrefices}, {cache: false})

    if theme.background
      #web_bg
      
    //- changed to cache false since the content should be different among language settings
    !=partial('includes/sidebar', {langPrefices: langPrefices}, {cache: false})

    if page.type !== '404'
      #body-wrap(class=pageType)
        include ./header/index.pug

        main#content-inner.layout(class=hideAside)
          if body
            div!= body
          else
            block content
            if theme.aside.enable && page.aside !== false
              include widget/index.pug

        - var footerBg = theme.footer_bg
        if (footerBg)
          if (footerBg === true)
            - var footer_bg = bg_img
          else
            - var footer_bg = isImgOrUrl(theme.footer_bg) ? `background-image: url('${url_for(footerBg)}')` : `background: ${footerBg}`
        else
          - var footer_bg = ''

        footer#footer(style=footer_bg)
          //- changed to cache false since the content should be different among language settings
          !=partial('includes/footer', {langPrefices: langPrefices}, {cache: false})

    else
      !=partial('includes/404', {langPrefices: langPrefices}, {cache: false})

    include ./rightside.pug
    include ./additional-js.pug