//- - let langPrefices
//- if is_default_language(page_language())
//-   - langPrefices = Object.fromEntries(display_languages().map((lang) => [lang,`${lang}.`]))
//- else
//-   - langPrefices = Object.fromEntries([[page_language(), '']])

-
  var options = {
    prev_text: '<i class="fas fa-chevron-left fa-fw"></i>',
    next_text: '<i class="fas fa-chevron-right fa-fw"></i>',
    mid_size: 1,
    escape: false
  }

if globalPageType === 'post'
  - let paginationOrder = theme.post_pagination === 1 ? { prev: page.prev, next: page.next } : { prev: page.next, next: page.prev }
  - card_class = is_card_widget ? 'card-widget' : ''
  nav#pagination.pagination-post(class=card_class)
    each direction, key in paginationOrder
      each langPrefix, lang in langPrefices
        if direction[lang]
          - const getPostDesc = direction[lang].postDesc || postDesc(direction[lang])
          - let className = key === 'prev' ? (paginationOrder.next ? '' : 'full-width') : (paginationOrder.prev ? '' : 'full-width')
          - className = (getPostDesc && theme.pagination.description) ? className : className + ' no-desc'
          - className += ` ${key}-post`
          - const cover = direction[lang].cover || theme.pagination.default_cover || 'var(--default-bg-color)'

          //- span(lang-type='relative' language=lang)
          a.pagination-related(class=className href=url_for(direction[lang].path) title=direction[lang].title)
            if direction[lang].cover_type === 'img'
              img.cover(src=url_for(direction[lang].cover) onerror=`onerror=null;src='${url_for(theme.error_img.post_page)}'` alt=`cover of ${key === 'prev' ? 'previous' : 'next'} post`)
            else
              .cover(style=`background: ${cover}`)

            .info(class=key === 'prev' ? '' : 'text-right')
              .info-1
                .info-item-1=_p(`pagination.${key}`)
                .info-item-2!=direction[lang].title
              if (getPostDesc && theme.post_pagination.description)
                .info-2
                  .info-item-1!=getPostDesc
else
  nav#pagination
    .pagination
      if is_home()
        - options.format = 'page/%d/#content-inner'
      !=paginator(options)